# Manipulacion de geometria

In [1]:
import geopandas as gpd
import os

In [2]:
os.getcwd()

'D:\\PYTHON\\sig_python\\Script'

In [3]:
os.chdir(r"D:\PYTHON\sig_python\Datos_Espaciales\PRACTICA")

In [4]:
# Cargar archivo shp
data = gpd.read_file("Predio.shp")

In [5]:
# Visualizar geometria
data.geometry.head(3)

0    POLYGON ((486910.524 8794616.859, 485534.688 8...
1    POLYGON ((490879.282 8797675.448, 489799.780 8...
2    POLYGON ((492636.119 8797950.615, 492540.869 8...
Name: geometry, dtype: geometry

In [6]:
# Visualizar tabla de atributo
data.head(3)

   Id    Nombre                                           geometry
0   1  LEIMAN L  POLYGON ((486910.524 8794616.859, 485534.688 8...
1   2  FELIX FL  POLYGON ((490879.282 8797675.448, 489799.780 8...
2   3  milton c  POLYGON ((492636.119 8797950.615, 492540.869 8...

In [7]:
# Verificacion de la proyeccion
data.crs.name

'WGS 84 / UTM zone 18S'

In [8]:
len(data)

64

## Determinar centroide

In [9]:
# Centroide del poligono
data.centroid

0     POINT (486609.329 8795467.619)
1     POINT (490505.756 8798549.501)
2     POINT (493285.147 8798846.832)
3     POINT (483860.622 8792685.224)
4     POINT (475648.780 8791422.477)
                   ...
59    POINT (449745.865 8842832.517)
60    POINT (444427.973 8848818.620)
61    POINT (440787.062 8853131.904)
62    POINT (481606.033 8873504.449)
63    POINT (460932.748 8893462.639)
Length: 64, dtype: geometry

In [10]:
# Imprimir centroide segun Este o Norte
data.centroid.y

0     8.795468e+06
1     8.798550e+06
2     8.798847e+06
3     8.792685e+06
4     8.791422e+06
          ...
59    8.842833e+06
60    8.848819e+06
61    8.853132e+06
62    8.873504e+06
63    8.893463e+06
Length: 64, dtype: float64

In [11]:
# Hagamos una copia de seguridad de nuestros datos
data_utm = data.copy()

In [14]:
data_utm["Centro_X"] = round(data_utm.centroid.x,2)
data_utm["Centro_Y"] = round(data_utm.centroid.y,2)
# verificar
data_utm.head(3)

,Id,Nombre,geometry,Centro_X,Centro_Y
0,1,LEIMAN L,"POLYGON ((486910.524 8794616.859, 485534.688 8...",486609.33,8795467.62
1,2,FELIX FL,"POLYGON ((490879.282 8797675.448, 489799.780 8...",490505.76,8798549.50
2,3,milton c,"POLYGON ((492636.119 8797950.615, 492540.869 8...",493285.15,8798846.83

In [15]:
# Ouput filepath
outfp = "Predio2.shp"

# Save to disk
data_utm.to_file(outfp)

C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

## Determinar area

In [20]:
data_utm["Area_m2"] = round(data_utm.area,2)
data_utm["Area_Ha"] = round(data_utm.area/10000,2)
data_utm.head(3)

,Id,Nombre,geometry,Centro_X,Centro_Y,Area_m2,Area_Ha
0,1,LEIMAN L,"POLYGON ((486910.524 8794616.859, 485534.688 8...",486609.33,8795467.62,1956153.11,195.62
1,2,FELIX FL,"POLYGON ((490879.282 8797675.448, 489799.780 8...",490505.76,8798549.50,1558358.85,155.84
2,3,milton c,"POLYGON ((492636.119 8797950.615, 492540.869 8...",493285.15,8798846.83,2741660.95,274.17

## Cambiar nombre campos

In [21]:
# Nombre de los campos
data_utm.columns

Index(['Id', 'Nombre', 'geometry', 'Centro_X', 'Centro_Y', 'Area_m2',
       'Area_Ha'],
      dtype='object')

In [22]:
nombre = ['ID', 'NOMBRE', 'geometry', 
          'Centro_X', 'Centro_Y', 'AREA_m2', 'AREA_Ha']

In [23]:
# Cambiar el nombre de los campos
data_utm.columns = nombre

In [24]:
data_utm.head(3)

,ID,NOMBRE,geometry,Centro_X,Centro_Y,AREA_m2,AREA_Ha
0,1,LEIMAN L,"POLYGON ((486910.524 8794616.859, 485534.688 8...",486609.33,8795467.62,1956153.11,195.62
1,2,FELIX FL,"POLYGON ((490879.282 8797675.448, 489799.780 8...",490505.76,8798549.50,1558358.85,155.84
2,3,milton c,"POLYGON ((492636.119 8797950.615, 492540.869 8...",493285.15,8798846.83,2741660.95,274.17

## Determinar perimetro

In [25]:
data_utm.length

0      5641.290123
1      5068.386852
2      6395.341591
3      6523.446251
4      7191.116735
          ...
59    10806.300550
60    12186.655159
61    11159.169977
62    13003.566146
63    15059.668069
Length: 64, dtype: float64

In [26]:
data_utm["Perim_m"] = round(data_utm.length,2)
data_utm["Perim_Km"] = round(data_utm.length/1000,2)
data_utm.head(3)

,ID,NOMBRE,geometry,Centro_X,Centro_Y,AREA_m2,AREA_Ha,Perim_m,Perim_Km
0,1,LEIMAN L,"POLYGON ((486910.524 8794616.859, 485534.688 8...",486609.33,8795467.62,1956153.11,195.62,5641.29,5.64
1,2,FELIX FL,"POLYGON ((490879.282 8797675.448, 489799.780 8...",490505.76,8798549.50,1558358.85,155.84,5068.39,5.07
2,3,milton c,"POLYGON ((492636.119 8797950.615, 492540.869 8...",493285.15,8798846.83,2741660.95,274.17,6395.34,6.40

In [27]:
# Ouput filepath
outfp = "Predio3.shp"

# Save to disk
data_utm.to_file(outfp)

C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

## Dato extension

In [43]:
# Data extension de cada poligono
data_utm.envelope.head()

0    POLYGON ((485534.688 8794616.859, 487693.692 8...
1    POLYGON ((489725.696 8797675.448, 491440.200 8...
2    POLYGON ((492540.869 8797728.365, 494181.289 8...
3    POLYGON ((483028.593 8791545.569, 484616.096 8...
4    POLYGON ((474731.243 8790148.566, 476551.580 8...
dtype: geometry

In [44]:
# Crear convexion de cada poligono
# crea un marco (rectangulo) que envuelve de forma individual a cada uno de los poligonos
data_envelo = data_utm.envelope.convex_hull

In [45]:
data_envelo

0     POLYGON ((485534.688 8794616.859, 485534.688 8...
1     POLYGON ((489725.696 8797675.448, 489725.696 8...
2     POLYGON ((492540.869 8797728.365, 492540.869 8...
3     POLYGON ((483028.593 8791545.569, 483028.593 8...
4     POLYGON ((474731.243 8790148.566, 474731.243 8...
                            ...
59    POLYGON ((447679.265 8841085.255, 447679.265 8...
60    POLYGON ((442321.441 8846773.808, 442321.441 8...
61    POLYGON ((439014.143 8851205.588, 439014.143 8...
62    POLYGON ((479429.328 8871909.275, 479429.328 8...
63    POLYGON ((457601.159 8891885.356, 457601.159 8...
Length: 64, dtype: geometry

In [46]:
# Ouput filepath
outfp = "Predio_convexion.shp"

# Save to disk
data_envelo.to_file(outfp)

C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [47]:
# Data extension de todos los poligonos
# crea un solo marco (rectangulo) que envuelve a todos los poligonos del GDF
data_total = data_utm.total_bounds
data_total
# retorna un array

array([ 439014.14311196, 8716128.58507491,  494181.28872997,
       8970863.63943071])

In [49]:
# convertir el array en lista
lista_borde = list(data_total)
lista_borde

[439014.1431119619, 8716128.585074915, 494181.28872997407, 8970863.639430711]

In [51]:
# Importar shapely
# para crear el shp marco con la cood del anterior paso
from shapely.geometry import Polygon
from shapely.geometry import box

In [52]:
# determinar limites x, y con los border del anterior paso
min_x = lista_borde[0]
min_y = lista_borde[3]
max_x = lista_borde[2]
max_y = lista_borde[1]
max_y

8716128.585074915

In [53]:
# se crea la caja
Extension_poligono = box(minx=min_x, miny=min_y, maxx=max_x, maxy=max_y)

In [54]:
type(Extension_poligono)

shapely.geometry.polygon.Polygon

In [55]:
# se crea el GDF
Extension_poligono2 = gpd.GeoDataFrame({'name': ['Extension'], 'geometry': [Extension_poligono]}, crs=32718)
Extension_poligono2

        name                                           geometry
0  Extension  POLYGON ((494181.289 8970863.639, 494181.289 8...

In [57]:
# ver sistema de coordenadas del file
Extension_poligono2.crs

<Projected CRS: EPSG:32718>
Name: WGS 84 / UTM zone 18S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: World - S hemisphere - 78°W to 72°W - by country
- bounds: (-78.0, -80.0, -72.0, 0.0)
Coordinate Operation:
- name: UTM zone 18S
- method: Transverse Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [58]:
# Save to disk
Extension_poligono2.to_file("Extension_poligono")

C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

# Buffer

In [60]:
# Buffer de cada poligono 1000m Borde
# buffer de cada poligono del envolvente de cada poligono
# crea buffer en forma curva
data_envelo_1000 = data_envelo.buffer(1000)

In [61]:
# Buffer de cada poligono 1000m Recto
# crea buffer con la aristas curvas
data_envelo_1000_1 = data_envelo.buffer(1000, join_style=2)

In [62]:
# Save to disk
data_envelo_1000.to_file("data_envelo_1000_1")
data_envelo_1000_1.to_file("data_envelo_1000_2")

C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,
C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

# DISOLVE de los poligonos buffer

In [65]:
# data_envelo_1000, contiene los poligonos buffer cuadrados, uno por cada poligono del shp original, 
# el problema es que los poligonos buffer se sobreponen, se disuelve los poligonoa para que se una todo
data_envelo_unido = data_envelo_1000_1.unary_union

In [66]:
type(data_envelo_unido)

shapely.geometry.multipolygon.MultiPolygon

In [67]:
data_envelo_unido2 = gpd.GeoDataFrame({'geometry': [data_envelo_unido]}, crs=32718)
data_envelo_unido2

                                            geometry
0  MULTIPOLYGON (((444627.018 8715128.585, 444627...

In [68]:
data_envelo_unido2.to_file("data_envelo_1000_Unido")

C:\Users\Bismar\.conda\envs\sig_python\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,